*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fonts */
@font-face {
    font-family: 'poppins';
    src: url(./Poppins-Regular.ttf);
}

@font-face {
    font-family: 'nexa-light';
    src: url(./Nexa-ExtraLight.ttf);
}

@font-face {
    font-family: 'nexa-heavy';
    src: url(./Nexa-Heavy.ttf);
}

@font-face {
    font-family: 'lemon-italic';
    src: url(./LEMONMILK-RegularItalic.otf);
}

@font-face {
    font-family: 'light-italic';
    src: url(./LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: 'lemon';
    src: url(./LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'light-lemon';
    src: url(./LEMONMILK-Light.otf);
}

@font-face {
    font-family: 'munday';
    src: url(./Themundayfreeversion-Regular.ttf);
}

/* fonts */

body {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 53rem;
    height: 77rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* RIGHT */

.right-section {
    display: grid;
    grid-template-rows: 30% 15% 25% 15% 15%;
    background-color: #323232;
    border-radius: 11.25rem  11.25rem 0 0;
    overflow: hidden;
}

.right-a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-a img {
    margin-top: .8rem;
    height: 21rem;
    width: 20rem;
    border-radius: 21rem;
    object-fit: cover;
}

.right-b {
    display: grid;
    font-family: 'nexa-heavy';
    color: #323232;
}

.right-b-oblongs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    height: 2.3rem;
    width: 16rem;
    border-radius: 0 6.25rem 6.25rem 0;
}

.right-b h1 {
    text-indent: 1.25rem;
    border-radius: 0 100px 100px 0;
    font-size: 1.5rem;
}

.right-b-content {
    display: flex;
    flex-direction: column;
    
    
}

.right-b-content ul {
    list-style-type: none;
    padding: 0;
}

.right-b-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem; 
}

.right-b-content i {
    text-indent: 1.25rem;
    font-size: 1.8rem;
    color: #1f1c1c;
}

.right-b-content span {
    margin-right: 1.25rem;
    font-family: 'poppins';
    font-size: 1rem;
    color: white;
}

.right-c {
    display: flex;
    flex-direction: column;
    font-family: 'nexa-heavy';
    color: #323232;
    height: 100%;
}



.right-c-oblongs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    height: 2.3rem;
    width: 19.5rem;
    border-radius: 0 6.25rem 6.25rem 0;
}

.right-c-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.right-c h1 {
    text-indent: 1.25rem;
    border-radius: 0 6.25rem 6.25rem 0;
    font-size: 1.5rem;
}

.right-c-content h1 {
    font-family: 'light-italic';
    font-size: .875rem;
    color: #d9d9d9;
}

.right-c-content p {
    text-indent: 1.25rem;
    font-size: .68rem;
    font-family: 'light-lemon';
    color: #d9d9d9;
}

.right-c-content-a {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-c-content-b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.right-c-content-b {
    display: grid;
    grid-template-columns: 50% 50%;

}

.right-d {
    display: flex;
    flex-direction: column;
    font-family: 'nexa-heavy';
    color: #323232;
}

.right-d-oblongs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    height: 4vh;
    width: 7.75rem;
    border-radius: 0 6.25rem 6.25rem 0;
}

.right-d h1 {
    text-indent: 1.25rem;
    border-radius: 0 100px 100px 0;
    font-size: 1.5rem;
}

.right-d-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.right-d-content-a {
    display: grid;
    align-items: center;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
}

.right-d-content-a p {
    text-indent: 1.25rem;
    font-size: .75rem;
    font-family: 'lemon';
    color: #d9d9d9;
}

.right-d-content-b {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.right-d-content-b-rectangle-a {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.rectangle-a {
    background-color: #d9d9d9;
    height: 0.625rem;
    width: 9.375rem;
}

.bar-a {
    background-color: black;
    height: 100%;
    width: 80%;
}

.bar-b {
    background-color: black;
    height: 100%;
    width: 80%;
}

.bar-c {
    background-color: black;
    height: 100%;
    width: 70%;
}

.bar-d {
    background-color: black;
    height: 100%;
    width: 60%;
}

.right-e {
    display: flex;
    flex-direction: column;
    color: #323232;
    font-family: 'nexa-heavy';
}

.right-e-oblongs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    height: 4vh;
    width: 12.75rem;
    border-radius: 0 6.25rem 6.25rem 0;
}

.right-e h1 {
    text-indent: 1.25rem;
    border-radius: 0 100px 100px 0;
    font-size: 1.5rem;
}

.right-e-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.right-e-content-a {
    display: grid;
    align-items: center;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
}

.right-e-content-a p {
    text-indent: 1.25rem;
    font-size: .75rem;
    font-family: 'lemon';
    color: #d9d9d9;
}

.right-e-content-b {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.right-e-content-b-rectangle-a {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.rectangle-b {
    background-color: #d9d9d9;
    height: 0.625rem;
    width: 9.375rem;
}

.bar-e {
    background-color: black;
    height: 100%;
    width: 80%;
}

.bar-f {
    background-color: black;
    height: 100%;
    width: 92%;
}

.bar-g {
    background-color: black;
    height: 100%;
    width: 80%;
}

.bar-h {
    background-color: black;
    height: 100%;
    width: 90%;
}


/* RIGHT */


/* LEFT */

.left-section {
    display: grid;
    grid-template-rows: 46% 39% 15%;
    background-color: #d9d9d9;
}

.left-section-a {
    display: grid;
    grid-template-rows: 20% 80%;
    margin: 0 0 0 2rem;
}

.left-section-a-oblongs {
    display: flex;
    justify-self: flex-end;
    background-color: #323232;
    height: 4rem;
    width: 27rem;
    border-radius: 3rem 0 0 3rem;
}

.left-section-a-content {
    display: grid;
    flex-direction: column;
}

.left-section-a-content h1 {
    font-family: 'lemon';
    font-size: 3.2rem;
}

.left-section-a-content p {
    display: flex;
    font-family: 'lemon';
    font-size: 1.2rem;
}

.left-section-a-content-line {
    background-color: #323232;
    height: 2px;
    width: 80%;
}

.left-section-b {
    display: flex;
    background-color: #f8f8f8;
}

.left-section-b {
    display: grid;
    flex-direction: column;
}


.left-section-b-oblongs {
    display: flex;
    align-items: center;
    background-color: #323232;
    height: 4rem;
    width: 27rem;
    border-radius: 0 3rem 3rem 0;
    margin-top: .5rem;
}

.left-section-b-oblongs h1 {
    font-size: 2rem;
    font-family: 'nexa-heavy';
    color: #d9d9d9;
    text-indent: 1rem;
}

.left-section-b-content {
    display: grid;
    text-indent: 2rem;
}

.left-section-b-content h1 {
    font-family: 'munday';
    font-size: 1.2rem;
}

.left-section-b-content p {
    font-family: 'poppins';
    font-size: .9rem;
}

.left-section-b-content-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}







.left-section-c {
    display: grid;
    background-color: #f7f7f7;
}

























@media only screen and (max-width: 880px) {

    html {
        font-size: 10px;
    }

    body {
        display: flex;
        justify-content: center;
    }

}


@media only screen and (max-width: 360px) {

    html {
        font-size: 7px;
    }

    body {
        display: flex;
        justify-content: center;
    }

}